name: Build nad push Docker images

on:
    push:
        branches: ["main"]
    workflow_dispatch:

permissions:
    contents: read
    packages: write

jobs:
    build-and-push:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Set up QEMU
              uses: docker/setup-qemu-action@v3

            - name: Set up Docker buildx
              uses: docker/setup-buildx-action@v3

            - name: Login to GHCR
              uses: docker/login-action@v3
              with:
                registry: ghcr.io
                username: ${{ github.actor }}
                password: ${{ secrets.GITHUB_TOKEN }}

            - name: Set image names
              id: names
              run: |
                OWNER="${{ github.repository_owner }}"
                REPO_NAME="$(basename '${{ github.repository}}')"
                echo "API_IMAGE=ghcr.io/tomektarczynski/personal-server/api" >> $GITHUB_OUTPUT
                echo "NGINX_IMAGE=ghcr.io/tomektarczynski/personal-server/nginx" >> $GITHUB_OUTPUT
            
            - name: Build and push API
              uses: docker/build-push-action@v6
              with:
                context: .
                file: api/Dockerfile
                push: true
                tags: |
                    ${{ steps.names.outputs.API_IMAGE}}:latest
                    ${{ steps.names.outputs.API_IMAGE}}:${{ github.sha }}
            
            - name: Build and push Nginx
              uses: docker/build-push-action@v6
              with:
                context: .
                file: nginx/Dockerfile
                push: true
                tags: |
                    ${{ steps.names.outputs.NGINX_IMAGE}}:latest
                    ${{ steps.names.outputs.NGINX_IMAGE}}:${{ github.sha }}

